#端口
server:
  port: 7501

spring:
  profiles:
    include: ha

  application:
    name: eureka
  # 安全认证
  security:
    user:
      name: root
      password: 123456


#eureka
eureka:
  server:
      #关闭自我保护
      enable-self-preservation: false
      #清理间隔时间
      eviction-interval-timer-in-ms: 5000
  instance:
    #使用IP注册
    prefer-ip-address: true
    #强制指定IP地址，默认会获取本机的IP地址
    ip-address: 192.0.0.112
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
    hostname: ${spring.cloud.client.ip-address}-${server.port}

  client:
    # 不向eureka注册 因为自己就是server
    # register-with-eureka: false
    # 不获取服务 因为自己就是server
    # fetch-registry: false
    # 服务地址
    service-url:
      # 服务注册中心位置
      #defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@${eureka.instance.instance-id}/eureka/
      defaultZone: ${eureka-config.server-urls}


